.Bs {
    position: relative;
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}